.dash-container{
    margin: 0 0;
    padding: 0 0;
    display: block;
    overflow: hidden;
    margin-top: 120px;
    .left-side-container{
        position: fixed;
        width: 345px;
        padding-top: 15px;
        height: 100vh;
        background-color: #dd2f6e;
        display: block;
        float: left;
    }

    .right-side-container{
        margin-left: 345px;
        width: calc(100% - 345px);
        float: left;
        overflow: hidden;
        padding: 40px 40px 0;
    }
}